body{
   background-color: rgb(25, 25, 25);
   color: white;
   
  }
  .rps{
    font-size: 30px;
    font-weight: bold;
  }
  .rock-icon ,.paper-icon,.scissors-icon{
    width: 50px;
    height: 50px;
  }
  .move-button{
    background-color: transparent;
    border: 3px solid white; 
    width: 120px;
    height: 120px;
    border-radius: 60px;
    cursor: pointer;
    margin: 5px;
  }
  .result{
    font-size: 24px;
    font-weight: bold;
  }
  .result-button{
    width: 50px;
    height: 50px;
  }
  .score{
    margin-top: 60px;
  }
  .reset-score{
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
  }